.about {
  background-color: $color-background-tertiary;
  color: $color-off-black;
}

.about__wrapper {
}

.about__title {
  @extend %title-100;

  margin: auto;
  max-width: 124rem;
  text-align: center;

  @include media('<phone') {
    max-width: 67.7rem;
  }
}
