%page {
  @extend %cover;

  opacity: 0;
  visibility: hidden;
}

%page_wrapper {
  color: inherit;
}

// %page-active {
//   opacity: 1;
//   pointer-events: auto;
//   transition: none;
//   visibility: visible;
// }

// %content {
//   align-items: flex-end;
//   display: flex;
//   height: 100%;
//   left: 0;
//   overflow: hidden;
//   top: 0;
//   width: 100%;
// }
